<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>136858056384-f4d4nmstni3g4ioovcpatiukgid93jcg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.136858056384-f4d4nmstni3g4ioovcpatiukgid93jcg</string>
	<key>API_KEY</key>
	<string>AIzaSyA_5qAD_43wduTLnPQPp6y2EkF0n2WPE3Y</string>
	<key>GCM_SENDER_ID</key>
	<string>136858056384</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.tocmanager</string>
	<key>PROJECT_ID</key>
	<string>tocmanager-db984</string>
	<key>STORAGE_BUCKET</key>
	<string>tocmanager-db984.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:136858056384:ios:f8d4ef790db0225b805f25</string>
</dict>
</plist>